<a href="https://colab.research.google.com/github/sanvas/ProgrammingAssignment2/blob/master/Functions_2_Sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi, my name is suraaj!")

Hi, my name is suraaj!

In [ ]:
def call_suraaj():
  print("Hi, my name is suraaj!")

In [ ]:
call_suraaj()

Hi, my name is suraaj!

In [ ]:
for i in range(5):
  call_suraaj()

Hi, my name is suraaj!
Hi, my name is suraaj!
Hi, my name is suraaj!
Hi, my name is suraaj!
Hi, my name is suraaj!

In [ ]:
def add_numbers(a, b):
  c = a+b
  print("The sum is :",c)

In [ ]:
add_numbers(6,7)

The sum is : 13

In [ ]:
add_numbers(9,10)

The sum is : 19

In [ ]:
add_numbers(3,4,5)

TypeError: add_numbers() takes 2 positional arguments but 3 were given

In [ ]:
add_numbers(3)

TypeError: add_numbers() missing 1 required positional argument: 'b'

In [ ]:
def add_numbers(a, b, c, d):
  e = a+b+c+d
  print("The sum is :",e)

In [ ]:
add_numbers(5,6,7,8)

The sum is : 26

In [ ]:
add_numbers(5,6)

TypeError: add_numbers() missing 2 required positional arguments: 'c' and 'd'

In [ ]:
def introduce_family(father, mother, sibling):
    print("Father:", father)
    print("Mother:", mother)
    print("Sibling:", sibling)

introduce_family("Deepak", "Deepa", "Vidhi")

Father: Deepak
Mother: Deepa
Sibling: Vidhi

In [ ]:
def introduce_family(father, age, gender):
    print("Father:", father)
    print("Age:", age)
    print("Gender:", gender)

introduce_family("Deepak", 44, "Male")

Father: Deepak
Age: 44
Gender: Male

In [ ]:
def funct(n):
  for i in range(n):
    print("hello")

In [ ]:
funct(3)

hello
hello
hello

In [ ]:
funct(3.0)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
def do_something(a,b,c):
  print("Function Start")
  e= a+b+c
  f = e*2
  print("Function End")
  print(f)

In [ ]:
do_something(3,4,5)

Function Start
Function End
24

In [ ]:
x= f+3

NameError: name 'f' is not defined

In [ ]:
def do_something(a,b,c):
  print("Function Start")
  e= a+b+c
  f = e*2
  print("Function End")
  return f

In [ ]:
F= do_something(4,5,6)

Function Start
Function End

In [ ]:
x= F+3

In [ ]:
x

33

In [ ]:
def add_numbers (a,b):
  c= a+b
  vv="HAHAHA"
  return c,vv

In [ ]:
x,y= add_numbers (4,5)
xx= add_numbers (4,5)

In [ ]:
print(x,y)

9 HAHAHA

In [ ]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print(do_something(5))

15

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

x = gcd(48, 180)
print(x)

12

In [ ]:
def introduce_family(my_name, sibling_name, father_name, mother_name):
    print("My name is", my_name)
    print("My sibling's is", sibling_name)
    print("My father's is", father_name)
    print("My mother's is", mother_name)


introduce_family("Nilesh", "Deepa","Deepak", "Vidhi")

My name is Nilesh
My sibling's is Deepa
My father's is Deepak
My mother's is Vidhi

In [ ]:
#keyword arguments
introduce_family(my_name="Nilesh", mother_name="Deepa",sibling_name="Deepak", father_name="Vidhi")

My name is Nilesh
My sibling's is Deepak
My father's is Vidhi
My mother's is Deepa

In [ ]:
introduce_family("Nilesh", "Deepa", father_name="Deepak", mother_name="Vidhi")

My name is Nilesh
My sibling's is Deepa
My father's is Deepak
My mother's is Vidhi

In [ ]:
introduce_family( father_name="Deepak", mother_name="Vidhi", "Nilesh", "Deepa")

SyntaxError: positional argument follows keyword argument (<ipython-input-68-71f52274c60e>, line 1)

In [ ]:
def introduce_family(my_name, sibling_name, father_name, mother_name="XYZ"):
    print("My name is", my_name)
    print("My sibling's is", sibling_name)
    print("My father's is", father_name)
    print("My mother's is", mother_name)


introduce_family("Nilesh", "Deepa","Deepak")

My name is Nilesh
My sibling's is Deepa
My father's is Deepak
My mother's is XYZ

In [ ]:
introduce_family("Nilesh", "Deepa","Deepak","mother_namne")

My name is Nilesh
My sibling's is Deepa
My father's is Deepak
My mother's is mother_namne

In [ ]:
def simple_interest(p, t, r = 5): # default argument
    interest = (p * r * t) / 100
    return interest

simple_interest(50000, 3)

7500.0

In [ ]:
def simple_interest(p, t, r = 5): # default argument
    interest = (p * r * t) / 100
    return interest

simple_interest(50000, 3, 4.5)

6750.0

In [ ]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

8

In [ ]:
f =20
def do_something(a,b,c):
  print("Function Start")
  e= a+b+c
  f = e*2
  print("Function End")
  return f
f= 30

In [ ]:
local variable
#scope of f was there till the function was there
#as soon as f comes out of it the variable "f" is not defined

In [ ]:
def funct(var):
    print(var)

funct(3)

var = 5
funct(var)
print(var)

3
5
5

In [ ]:
c=30
def funct(a,b):
    c=a+b

print(c)

30

In [ ]:
c=30
def funct():
    c=5+6
    print(c)

funct()

11

In [ ]:
c

30

In [ ]:
c=30
def funct():
    c=5+6
    return c

c=funct()

In [ ]:
c

11

In [ ]:
def func(x):
  return x+10


func(15)

25

In [ ]:
random= (lambda x: x+10)

In [ ]:
random (10)

20

In [ ]:
random (40)

50

In [ ]:
(lambda : print("hello"))("scaler")

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [ ]:
def dunc():
  print("hello")

In [ ]:
dunc("scaler")

TypeError: dunc() takes 0 positional arguments but 1 was given

In [ ]:
c=30
def funct():
    print(c)

In [ ]:
funct()

30

In [ ]:
c=30
def funct():
    c=c+6
    return c

c=funct()

UnboundLocalError: local variable 'c' referenced before assignment

In [ ]:
c=30
def funct():
    d=c+6
    return d

c= funct()